.line {
    padding: 1%;
    border-bottom: 2px solid black;
}

.fullbox {
    background-color: transparent;
    border-style: solid;
    border-color: #0887f0;
    border-width: 1px;
    min-width: max-content;
    min-height: max-content;
    width: 94%;
    padding-bottom: 3%;
    margin-left: 1%;
    margin-right: 3%;
    margin-top: 1%;
    box-shadow: 5px 5px 5px #0887f0;
    position: absolute;
    float: left;
    scale: 0.9;
}

body {
    text-align: center;
    margin: auto;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    /* position: absolute; */
}

html,
body {
    overflow-y: scroll;
    overflow-x:scroll;
}

.localbutton {
            width:100%;
            border-style:none;
            height:100%;
            font-size: 22px;
            padding: 14px 0;
            transition-property: box-shadow border-radius transform;
            transition-duration: .15;
        }

        #navigationBar{
            display: flex;
            flex-direction: row;
            background-color: #0b60af;
            height: 100px;
            overflow: hidden;
        }
        #navigationBar form{
            width: 7.5%;
            height: 100%
        }
        #navigationBar form button{
            height: 100%;
            width: 100%;
            background-color: #0b60af;
            color:white;
            border-style: none;
            border-top: none;
            border-bottom: none;
            cursor: pointer;
            transition-property: border color ;
            transition-duration: .5s;
        }
        #navigationBar form button:hover{
            color: orange;
            border-color: orange;
            background-color: #0a477f;
            transform: scaleY(1.2);
        }
        .borderLine {
            border-style: solid;
            border-color: white;
            border-width: 1px;
        }
        .PMSA_Logo{
            width: 100px;
            margin: 0 3%;
            cursor: pointer;
        }
